@import './src/module/stooges-variables.scss';
@import './src/scss/project-variables.scss';
@import './src/module/stooges-mixin.scss';
@import './src/scss/project-mixin.scss';
@import './src/module/stooges-basscss.scss';
@import './src/scss/project-basscss.scss';
@import './src/scss/fontFamily.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.headerTop {
	@media #{$breakpoint-up-lg} {
		background-color: $color-basic-4;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		.headerTopContent {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;
			.address {
				color: $font-color-3;
				.icon {
					margin-right: 4px;
				}
				a {
					color: $font-color-5;
				}
			}
			.contact {
				color: $font-color-3;
				.icon {
					margin-right: 4px;
				}
				a {
					&:hover {
						color: $font-color-6;
					}
				}
			}
		}
	}
	@media #{$breakpoint-down-md} {
		.headerTopContent {
			display: none;
		}
	}
}

.header {
	background-color: $headerColor;
	@media #{$breakpoint-up-lg} {
		.navCover {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: $headerHeight;
			i {
				display: none;
			}
			a {
				img {
					height: 50px;
					display: block;
				}
			}
			nav {
				text-transform: uppercase;
				width: auto;
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					display: flex;
					flex-direction: row;
					li {
						padding: 0;
						position: relative;
						&:last-child {
							a {
								padding-right: 0;
							}
						}
						a {
							color: $font-color-3;
							padding: 48px 16px;
							font-size: $h5;
							&:hover {
								color: $font-color-6;
							}
						}
						.href {
							color: $font-color-3;
							font-weight: $font-weight;
							padding: 48px 16px;
							font-size: $h5;
						}
						&:hover {
							.subMenu {
								visibility: visible;
								opacity: 1;
								transform: translateY(0);
							}
							.href {
								color: $font-color-6;
							}
						}
						.subMenu {
							visibility: hidden;
							opacity: 0;
							transition: 0.3s ease-in;
							transform: translateY(50px);
							position: absolute;
							top: 64px;
							left: 0;
							width: $subMenuWidth;
							padding: 32px 16px;
							background-color: $color-secondary-2;
							li {
								padding: 0;
								margin-bottom: 16px;
								a {
									color: $font-color-2;
									line-height: 1.5;
									text-transform: uppercase;
									padding: 0;
									&:hover {
										color: #ccc;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@media #{$breakpoint-down-md} {
		.navCover {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: $headerHeight;
			i {
				cursor: pointer;
				font-size: 18px;
				padding: 12px;
				@media #{$breakpoint-down-md} {
					margin-left: 12px;
				}
			}
			a {
				img {
					height: 50px;
					display: block;
				}
			}
			&::after {
				content: '';
				width: 30px;
				visibility: hidden;
			}
			nav {
				display: none;
			}
		}
	}
}

.sideNav {
	width: 100%;
	height: 100%;

	.backdrop {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 2;
		&.openBackdrop {
			display: block;
		}
	}

	.whiteCard {
		position: fixed;

		top: 0;
		left: 0;
		height: 100%;
		width: $sideBarWidth;
		background-color: #ffffff;
		box-shadow: 1px 1px 5px 1px rgba(23, 54, 98, 0.4);
		visibility: hidden;
		transform: translateX(-100%);
		transition: 0.3s ease-in;
		overflow-y: auto;
		z-index: 3;
		padding: 16px 0 32px;
		&.active {
			transform: translateX(0);
			visibility: visible;
		}

		i {
			font-size: $h3;
			padding: 8px 16px;
			cursor: pointer;
			display: block;
		}
		a {
			img {
				padding: 16px 40px;
				display: block;
				width: 100%;
			}
		}
		.sideBarContent {
			text-transform: uppercase;
			width: auto;
			.mainMenu {
				margin: 0;
				padding-left: 0;
				list-style: none;
				.mainMenuList {
					padding: 0;
					display: block;
					position: relative;
					border-bottom: 1px solid #eae9e8;
					a {
						color: $font-color-3;
						font-weight: $font-weight;
						padding: 16px;
						font-size: $h5;
						display: block;
						&:hover {
							color: $font-color-6;
						}
					}
					.href {
						color: $font-color-3;
						font-weight: $font-weight;
						padding: 16px;
						font-size: $h5;
						display: block;
						&:hover {
							color: $font-color-6;
						}
					}
					.subMenu {
						margin: 0;
						padding-left: 0;
						list-style: none;
						transform: scale(0);
						transform-origin: left;
						height: 0;
						&.show {
							height: auto;
							transform: scale(1);
							transition: 0.3s;
						}
						.subMenuList {
							padding: 8px 16px 8px 24px;
							a {
								color: $font-color-6;
								line-height: 1.5;
								font-size: 12px;
								text-transform: uppercase;
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}

.slideShow {
	position: relative;
	width: 100%;
	height: $img-height-lg;
	@media #{$breakpoint-only-md} {
		height: $img-height-md;
	}
	@media #{$breakpoint-only-sm} {
		height: $img-height-sm;
	}
	@media #{$breakpoint-only-xs} {
		height: $img-height-xs;
	}

	.slideShowContent {
		position: relative;
		width: 100%;
		overflow: hidden;
		padding-top: $img-height-lg;
		@media #{$breakpoint-only-md} {
			padding-top: $img-height-md;
		}
		@media #{$breakpoint-only-sm} {
			padding-top: $img-height-sm;
		}
		@media #{$breakpoint-only-xs} {
			padding-top: $img-height-xs;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
		.textContent {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: rgba(23, 54, 98, 0.4);
			text-align: center;
			.h1 {
				word-spacing: $space-1;
				animation: anim-1 1s ease 0s 1 normal forwards running;
				@media #{$breakpoint-only-md} {
					font-size: $h1-only-md;
				}
				@media #{$breakpoint-only-sm} {
					font-size: $h1-only-sm;
				}
				@media #{$breakpoint-only-xs} {
					font-size: $h1-only-xs;
				}
			}
			.content {
				color: $font-color-2;
				animation: anim-2 2s ease 0s 1 normal forwards running;
				@media #{$breakpoint-up-sm} {
					font-size: $h4;
				}
				@media #{$breakpoint-down-sm} {
					font-size: $h6;
					margin: 14px 0;
				}
			}
			a {
				@extend %button;
				animation: anim-3 3s ease 0s 1 normal forwards running;
				@media #{$breakpoint-down-sm} {
					font-size: 12px;
				}
				i {
					margin-left: 4px;
					font-size: 10px;
					height: $icon-line-height;
					width: $icon-width;
				}
			}
		}
	}
	.slideShowBottomDesc {
		width: 100%;
		z-index: 1;
		color: #fff;
		text-align: center;
		padding: 16px 32px;
		font-weight: 500;
		position: relative;
		margin: 0;
		@media #{$breakpoint-down-sm} {
			font-size: 16px;
			background-color: #676767;
		}

		@media #{$breakpoint-up-md} {
			position: absolute;
			bottom: 0;
			background-color: rgba(23, 54, 98, 0.6);
			font-size: 20px;
		}
	}
}

.homePageServices {
	padding-top: 3rem;
	.homePageServicesContent {
		display: flex;
		flex-direction: column;
		justify-items: center;
		text-align: center;
		.h2 {
			word-spacing: $space-2;
			padding-bottom: 1.5rem;
			position: relative;
			&:after {
				@extend %bottomLine;
			}
		}
		.servicesContentDesc {
			margin: auto;
			max-width: 780px;
			color: #8f8f8f;
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

.homePageProducts {
	text-align: center;
	a {
		display: block;
		position: relative;
		color: $font-color-2;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(23, 54, 98, 0.2);
			opacity: 0;
			transition: opacity 0.3s ease-in;
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}
		.homePageProductsImg {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
	.homePageProductsContent {
		background-color: $color-secondary-1;
		font-size: $h3;
		padding: 16px;
		margin: 0;
		display: block;
		font-weight: 500;
		letter-spacing: 0.0125rem;

		span {
			color: $font-color-5;
		}
	}
	.productsContentDesc {
		padding: 0 16px;
		line-height: 1.5;
		margin: 14px 0;
		color: $font-color-3;
	}
}

.slogan {
	background-image: url(/src/image/home-repeat-bg.jpg);
	background-repeat: repeat;
	color: $font-color-2;
	text-align: center;
	i {
		font-size: 114px;
	}
	.title {
		color: $font-color-2;
		font-size: 14px;
		position: relative;
		font-weight: 700;
		&::after {
			background-color: #cacaca;
			position: absolute;
			content: '';
			height: 2px;
			width: 4.2rem;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.line {
		color: $font-color-2;
		height: 3px;
	}
	.desc {
		color: $font-color-2;
		font-size: 13px;
		line-height: 1.5;
		margin-bottom: 13px;
	}
}

.homePageProductCategories {
	.productCategoriesTitle {
		text-align: center;
		.h2 {
			word-spacing: $space-2;
			position: relative;
			&::after {
				@extend %bottomLine;
			}
		}
	}

	a {
		.productCategoriesImgContent {
			position: relative;

			img {
				display: block;
				width: 100%;
				max-width: 100%;
			}
			.title {
				@extend %centerFunction;
				padding: 8px;
				line-height: 1.5;
				word-spacing: 10px;
				.titleText {
					position: relative;
					font-size: 24px;
					margin: 19px 0;

					color: $font-color-2;
				}
			}
			.titleHoverContent {
				@extend %centerFunction;
				flex-direction: column;
				color: #fff;
				background-color: $color-basic-3;
				transition: all 0.2s ease-in;
				opacity: 0;
				transform: scale(0.8);

				&:hover {
					opacity: 1;
					transform: scale(1);
				}
				.iconSprite-img1 {
					background-position-y: -100px;
				}
				.iconSprite-img2 {
					background-position-y: -400px;
				}
				.iconSprite-img3 {
					background-position-y: 0;
				}
				.iconSprite-img4 {
					background-position-y: -500px;
				}
				.iconSprite-img5 {
					background-position-y: -300px;
				}
				.iconSprite-img6 {
					background-position-y: -200px;
				}

				.titleTextHover {
					position: relative;
					word-spacing: 8px;
					padding-bottom: 16px;
					margin: 20px 0;
					font-size: 20px;
					font-weight: 500;
					color: $font-color-2;
					&::after {
						@extend %bottomLine;
						background-color: #fff;
					}
				}
				ul {
					list-style: none;
					padding-left: 0;
					margin: 0;
					li {
						font-size: $h6;
						color: $font-color-2;
						line-height: 1.5;
					}
				}
			}
		}
	}
}

.video {
	background-image: url(src/image/home-repeat-bg.jpg);
	background-repeat: repeat;
	text-align: center;
	h2 {
		word-spacing: 8px;
		padding-bottom: 24px;
		margin: 1.66rem 0;
		color: $font-color-2;
		position: relative;
		&::after {
			@extend %bottomLine;
			background-color: $font-color-2;
		}
	}

	a {
		padding: 24px 0;
		i {
			color: #fff;
			font-size: 114px;
			opacity: 0.9;
			display: inline-block;
			&:hover {
				@extend %rotate-video;
				opacity: 1;
			}
		}
	}
}

.contactGuide {
	background-color: #3a3a3a;
	color: #fff;
	.container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		display: flex;
		.contactNumber {
			text-align: center;
			font-weight: 500;
			line-height: 1.2;
			color: $font-color-2;
			i {
				font-size: 0.985rem;
				line-height: 1;
			}
			a {
				white-space: nowrap;
				color: $font-color-2;
			}
		}
		ul {
			line-height: 1;
			padding-left: 0;
			margin: 0;
			list-style: none;
			color: $font-color-2;
			li {
				display: inline-block;
				margin-left: 8px;
				a {
					color: $font-color-2;
					i {
						padding-top: 0;
						font-size: 20px;
					}
				}
			}
		}
	}
}

.footer {
	background-color: $color-secondary-3;
	.py4 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		.footerTitle {
			position: relative;
			word-spacing: 8px;
			color: #fff;
			font-weight: 700;
			word-spacing: 2px;
			font-size: 1rem;
			line-height: 1.2;
			span {
				font-size: 13px;
			}
			&:after {
				@extend %bottomLine;
				left: 0;
				transform: translateX(0);
				background-color: $font-color-2;
			}
		}
		.content {
			p {
				color: $font-color-3;
				line-height: 1.5;
			}
			ul {
				padding-left: 0;
				list-style: none;
				margin: 0;
				li {
					a {
						color: $font-color-3;
						line-height: 1.5;
					}
				}
			}
			.infoType {
				display: inline-block;
				color: $font-color-2;
				width: 5rem;
				vertical-align: top;
			}
			.infoContent {
				display: inline-block;
				vertical-align: top;
				word-break: break-word;
				color: $font-color-3;
				a {
					color: $font-color-2;
				}
			}
		}
	}
	.poweredBy {
		padding-bottom: 1.5rem;

		display: flex;
		justify-content: start;
		width: 100%;
		.copyrightText {
			color: $font-color-3;
			a {
				color: $font-color-2;
			}
		}
		&::after {
			content: ' ';
			display: table;
		}
	}
}

#scrollToTop {
	visibility: hidden;
	background-color: #173662;
	color: #fff;
	width: 42px;
	height: 42px;
	position: fixed;
	z-index: 1;
	bottom: 32px;
	right: 32px;
	cursor: pointer;
	text-align: center;
	i {
		line-height: 42px;
		font-size: 10px;
	}
}
