@import './src/module/stooges-variables.scss';
@import './src/scss/project-variables.scss';
@import './src/module/stooges-mixin.scss';
@import './src/scss/project-mixin.scss';
@import './src/module/stooges-basscss.scss';
@import './src/scss/project-basscss.scss';
@import './src/scss/fontFamily.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.sideNav {
	// margin-top: 50px;
	width: 100%;
	height: 100%;

	.backdrop {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
		&.openBackdrop {
			display: block;
		}
	}

	.whiteCard {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: $sideBarWidth;
		background-color: #ffffff;
		box-shadow: 1px 1px 5px 1px rgba(23, 54, 98, 0.4);
		// visibility: hidden;
		// transform: translateX(-100%);
		transition: 0.3s ease-in;
		overflow-y: auto;
		z-index: 1;
		padding: 16px 0 32px;
		&.active {
			transform: translateX(0);
			visibility: visible;
		}

		i {
			font-size: $h3;
			padding: 8px 16px;
			cursor: pointer;
			display: block;
		}
		a {
			img {
				padding: 16px 40px;
				display: block;
				width: 100%;
			}
		}
		.sideBarContent {
			text-transform: uppercase;
			width: auto;
			.mainMenu {
				margin: 0;
				padding-left: 0;
				list-style: none;
				.mainMenuList {
					padding: 0;
					display: block;
					position: relative;
					border-bottom: 1px solid #eae9e8;
					// &:last-child {
					// 	a {
					// 		padding-right: 0;
					// 	}
					// }
					a {
						color: $font-color-3;
						font-weight: $font-weight;
						padding: 16px;
						font-size: $h5;
						display: block;
						&:hover {
							color: $font-color-6;
						}
					}
					.href {
						color: $font-color-3;
						font-weight: $font-weight;
						padding: 16px;
						font-size: $h5;
						display: block;
						&:hover {
							color: $font-color-6;
						}
					}
					.subMenu {
						margin: 0;
						padding-left: 0;
						list-style: none;
						transform: scale(0);
						transform-origin: left;
						height: 0;
						&.show {
							height: auto;
							transform: scale(1);
							transition: 0.3s;
						}
						.subMenuList {
							padding: 8px 16px 8px 24px;
							a {
								color: $font-color-6;
								line-height: 1.5;
								font-size: 12px;
								text-transform: uppercase;
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}
